<!DOCTYPE html>
<html lang="en">
  <head>
   

  <!-- Google Analytics - METS ÇA EN PREMIER dans le <head> -->  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-583VK8EFG2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-583VK8EFG2');
  </script> 



  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <title>minipass</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='image/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/apple-touch-icon.png') }}">
  <!-- Bootstrap , fonts & icons  -->
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='fonts/icon-font/css/style.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='fonts/typography-font/typo.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='fonts/fontawesome-5/css/all.css') }}" rel="stylesheet"/>
  <!-- Plugin'stylesheets  -->
  <link href="{{ url_for('static', filename='plugins/aos/aos.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='plugins/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='plugins/nice-select/nice-select.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='plugins/slick/slick.min.css') }}" rel="stylesheet"/>
  <!-- Vendor stylesheets  -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
  <!-- Custom stylesheet -->
 
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header class="site-header site-header--menu-right menu-block-5 dynamic-sticky-bg mt-3 mt-lg-0 site-header--absolute site-header--sticky">
    <div class="container">
     <nav class="navbar site-navbar">

      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="/">
          <img
            src="{{ url_for('static', filename='image/mp-logo-regular.png') }}"
            alt="Minipass Logo"
            style="height: 24px; width: auto; max-width: 100%; object-fit: contain;" />
        </a>
      </div>


      <div class="menu-block-wrapper ms-4">
       <div class="menu-overlay">
       </div>
       <nav class="menu-block" id="append-menu-header">
        <div class="mobile-menu-head">
         <div class="go-back">
          <i class="fa fa-angle-left">
          </i>
         </div>
         <div class="current-menu-title">
         </div>
         <div class="mobile-menu-close">
          ×
         </div>
        </div>
        <ul class="site-menu-main">
         <li class="nav-item">
          <a class="nav-link-item" href="/">
           Accueil
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link-item" href="/#services">
           Fonctionnalités
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link-item" href="/about">
           À propos de nous
          </a>
         </li>
        </ul>
       </nav>
      </div>
      <div class="header-btn">
       <a class="btn btn btn-niagara btn--medium-4 h-45 rounded-50 text-white shadow--niagara-3 ms-auto ms-lg-4 d-none d-sm-flex" href="/#pricing">
        S'abonner
       </a>
      </div>
      <!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
       <span>
       </span>
      </div>
      <!--/.Mobile Menu Hamburger Ends-->
     </nav>
    </div>
   </header>




    {% block content %}{% endblock %}
   
   
   
   
   
    <footer class="footer-section footer-section--l3 position-relative bg-default">
    <div class="container">
     <div class="row">
      <div class="col-lg-4 col-md-7 col-xs-9">
       <div class="footer-brand-block footer-brand-block--l3 mb-7 mb-lg-5">


        <!-- Brand Logo -->
        <div class="brand-logo">
          <a href="/">
            <img
              src="{{ url_for('static', filename='image/mp-logo-regular.png') }}"
              alt="Minipass Logo"
              style="height: 20px; width: auto; max-width: 100%; object-fit: contain;" />
          </a>
        </div>




        <p class="footer-brand-block--l3__text">
         La gestion d'activités repensée. Simple. Automatisé. Sécurisé.
        </p>
       </div>
      </div>
      <div class="col-lg-8">
       <div class="row">
        <div class="col-xxl-4 col-xl-5 col-lg-4 col-md-4 col-sm-6 col-xs-6">
         <div class="footer-list-block footer-list-block--2 mb-5">
          <h4 class="footer-block-title">
           Contact
          </h4>
          <ul class="footer-widgets__list footer-widgets__list--l3">
           <li>
            <i class="fas fa-envelope" style="margin-right: 2px; color: #099a97;"></i>
            <a href="mailto:support@minipass.me">support@minipass.me</a>
           </li>
           <li>
            <i class="fab fa-discord" style="margin-right: 2px; color: #099a97;"></i>
            <a href="https://discord.gg/mfzBs8pT26" target="_blank" rel="noopener noreferrer">Support Discord</a>
           </li>
          </ul>
         </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
         <div class="footer-list-block footer-list-block--3 mb-5">
          <h4 class="footer-block-title">
           Quick Links
          </h4>
          <ul class="footer-widgets__list footer-widgets__list--l3">
           <li>
            <a href="/">
             Accueil
            </a>
           </li>
           <li>
            <a href="/about">
             À propos de nous
            </a>
           </li>
          </ul>
         </div>
        </div>
        <div class="offset-xxl-1 col-xl-4 col-lg-5 col-md-4 col-xs-8">
         <div class="footer-widget footer-widget--l3 mb-5">
          <h4 class="footer-block-title">
           Instagram
          </h4>
          <div class="footer-insta-gallery row">
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-1.png') }}"/>
           </div>
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-2.png') }}"/>
           </div>
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-3.png') }}"/>
           </div>
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-4.png') }}"/>
           </div>
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-5.png') }}"/>
           </div>
           <div class="col-4">
            <img alt="" class="w-100" src="{{ url_for('static', filename='image/home-3/insta-6.png') }}"/>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="copyright-block copyright-block--l3">
      <div class="row text-center align-items-center">
       <div class="col-xs-6 text-sm-start">
        <p class="copyright-text--l3">
         © 2025 minipass.me, fait avec ❤️ au Canada
        </p>
       </div>
       <div class="col-xs-6 text-sm-end">
        <ul class="footer-social-share footer-social-share--rounded">
         <li>
          <a href="https://www.facebook.com/profile.php?id=61578842160404" target="_blank" rel="noopener noreferrer">
           <i class="fab fa-facebook-square">
           </i>
          </a>
         </li>
         <li>
          <a href="https://instagram.com/minipass.me" target="_blank" rel="noopener noreferrer">
           <i class="fab fa-instagram">
           </i>
          </a>
         </li>
         <li>
          <a href="https://youtube.com/@minipassme" target="_blank" rel="noopener noreferrer">
           <i class="fab fa-youtube">
           </i>
          </a>
         </li>
         <li>
          <a href="https://www.linkedin.com/company/108409522" target="_blank" rel="noopener noreferrer">
           <i class="fab fa-linkedin">
           </i>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </footer>

  <!-- Vendor Scripts -->
  <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/fancybox/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/nice-select/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/aos/aos.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/counter-up/jquery.counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/counter-up/waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/skill-bar/skill.bars.jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/isotope/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
